dash>=4.0.0
dash-mantine-components>=2.6.0
dash-ag-grid>=33.3.3
dash-iconify>=0.1.2
pandas>=3.0.0
openpyxl>=3.1.5
xlsxwriter>=3.2.9
scipy>=1.17.0
Flask-Caching>=2.3.1
pandas_market_calendars>=5.3.0
riskfolio-lib>=7.2.0
SQLAlchemy>=2.0.0
yfinance>=0.2.66
